language: php

php:
  - '7'
  - nightly

matrix:
  fast_finish : true
  allow_failures:
    - php: nightly

install:
  - composer install

script:
  - vendor/bin/phpunit
  - php bin/composer-require-checker