<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        colors="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false" 
        cacheDirectory=".phpunit.cache">
  <testsuite name="ComposerRequireChecker tests">
    <directory>./test/ComposerRequireCheckerTest</directory>
  </testsuite>
  <coverage includeUncoveredFiles="true"/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
