<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    cacheResult="false"
    failOnEmptyTestSuite="true"
    failOnNotice="true"
    failOnPhpunitDeprecation="true"
    failOnWarning="true"
    failOnDeprecation="true"
>
  <testsuite name="ComposerRequireChecker tests">
    <directory>./test/ComposerRequireCheckerTest</directory>
  </testsuite>
  <coverage includeUncoveredFiles="true"/>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
